<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="branchName" (sort)="onSort($event)">Branch name</th>
      <th scope="col" sortable="branchVersion" (sort)="onSort($event)">Branch version</th>
      <th scope="col" sortable="branchLink" (sort)="onSort($event)">Branch link</th>
      <th scope="col" sortable="publishedBy" (sort)="onSort($event)">Published by</th>
      <th scope="col" sortable="lastPublishDate" (sort)="onSort($event)">Last publish date</th>
      <th scope="col" sortable="currentBuild" (sort)="onSort($event)">Current build</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let branch of branches; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ branch.branchName }}</td>
      <td>{{ branch.branchVersion }}</td>
      <td><a>{{ branch.branchLink}}</a></td>
      <td>{{ branch.publishedBy }}</td>
      <td>{{ branch.lastPublishDate }}</td>
      <td>{{ branch.currentBuild }}</td>
    </tr>
  </tbody>
</table>
